# Web Search API Keys
# Choose one of the following search providers:

SERPER_API_KEY=enter-key-here
TAVILY_API_KEY=enter-key-here

# Note: If both are provided, Serper will be used by default
# You can get free API keys from the respective providers' websites